html,
body {
    min-width:350px ;
  max-width: 500px;
  font-size: 1.2rem;
  line-height: 1.65rem;
  font-family: "Open Sans", sans-serif;
  color: #393d41 ;
}
.text-align {
  text-align: center;
}
.text-align h1,
h3 {
  color: #25a2c3;
  font-family: "Montserrat", serif;
  font-weight: bold;
}
header {
  background-color: black;
  text-align: center;
  height: 20%;
  box-sizing: content-box;
}
header div {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  display: block;
}
#logo {
  width: 25%;
  padding: 1.5rem 0;
}

#section-uno {
  background-image: url("../img/banner.jpg");
  max-width: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30%;
  padding: 10% 12%;
  box-sizing: border-box;
}
h1 {
  padding: 10%;
  font-size: 2.1rem;
}
#div-section-uno {
  padding-top: auto;
  padding-bottom: auto;
}
#button {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  margin-top: 2.5rem;
  padding: 0.5rem;
  background-color: #f04c2f;
  border-radius: 0.5rem;
  border: none;
  padding: 5% 10%;
  cursor: pointer;
}

.main-section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#notebook {
  border-radius: 50%;
  width: 90%;
  
}
#section-due , #notebook{
    margin-top: 3rem;
    margin-bottom: 3rem;

}
#section-due h3{
padding: 1rem 0%;
}
.section-due-div p{
    padding: 0% 5%;
}
#section-tre {
  background-color: #e22d0e;
  color: white;
  height: 30%;
  padding: 12% 5%;
}
#section-tre h2 {
  font-family: "Montserrat", serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 12%;
}
#section-tre blockquote {
  font-style: italic;
  font-size: 1rem;
  padding-top: 12%;
}
#section-tre p {
  font-size: 1.3rem;
  padding-top: 12%;
}
#section-tre p:last-child {
  font-size: 0.8rem;
  padding-top: 0%;
}

.aside-div {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #dee1e3;
  border-radius: 2%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.aside-picture {
  width: 100%;
}
.aside-text{
    padding-bottom: 10%;
    line-height: 1.65;
}
.aside-text h3{
padding-top: 5%;
}
.aside-text p{
    padding: 3% 5%;
}

footer {
  background-color: #25a2c3;
  color: white;
}
footer h2{
    font-family: "Montserrat", serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 10%;
}
#references{
    padding-top: 6%;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #c8e7f0;
    padding-bottom: 6%;
}
.links{
    color:#c8e7f0;

}
.icons{
    color: white;
}
#copyright{
    color: #c8e7f0;
    border-top: 1px solid #c8e7f0;
    padding-top: 6%;
    padding-bottom: 12%;
    margin: 0% 20%;

    font-size: 0.8rem;
}